* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #1396cb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#todo {
  background-color: #fff;
  min-width: 500px;
  width: 30%;
  padding: 8px;
  border-radius: 5px;
}
#todo .notask {
  display: block;
  text-align: center;
  padding: 20px;
  float: 1;
  color: #666;
}




/* HEADER */

.header {
  font-weight: 600;
  color: #1396cb;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 20px;
}
.header .title {
  flex: 1;
}
.header .title {
  align-self: flex-end;
}
.header .add {
  border-radius: 2px;
  line-height: 2.5px;
  align-self: flex-end;
  background-color: #005073;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}
.header .add:active {
  background-color: #02151d;
}
.header .closeAdd {
  border-radius: 2px;
  line-height: 2.5px;
  align-self: flex-end;
  background-color: #e57373;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}
.header .closeAdd:active {
  background-color: #d81b60;
}


/* CONTENT */

.content {
  max-height: 510px;
  overflow-y: auto;
}


/* INSERT */
.insert {
  background: #e2edf3;
  padding: 10px;
  display: flex;
  margin: 10px auto;
}
.insert input {
  float: 1;
  flex-grow: 1;
  padding: 8px 5px;
  font-size: 16px;
  border: none;
  color: #01afd7;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.insert button {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 10px;
  background: #01afd7;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.insert button:active {
  background: #016f88;
}
.insert button:disabled {
  background: #666;
  color: #ddd;
}


/* content */
.item {
  padding: 10px;
  color: #fff;
  margin: 10px auto;
  border-radius: 5px;
  display: flex;
}

.item .text {
  flex: 1;
}
.item .btn {
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
}
.item .btn:hover {
  color: #016f88;
}

.new {
  background-color: #01afd7;
  border: thin solid #1396cb;
}
.done {
  background-color: #4caf50;
  border: thin solid #fff;
  color: #fff;
}
.done .text {
  text-decoration: line-through;
  color: #fff;
}
